* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;align-items: center;
}

.acc-item {
  padding: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: #e7ebee;
  margin: 20px;
  font-family: sans-serif;
  border-radius: 10px;
  box-shadow: 2px 2px  gray;
}

.first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

.num {
    color: lightgrey;
}

.content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-style: italic;
}
